.full-card-wrapper {
  /* background-color: blue; */
  /* height: calc(100vh - 350px); */
  margin-top: 20px;
  border-radius: 10px;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 650px) {  
  .full-card-wrapper { 
    width: 100%;
  }
}

.blue-theme {
  background-color: blue;
}

.black-theme {
  background-color: black;
}

.violet-theme {
  background-color: blueviolet;
}

.gray-theme {
  background-color: gray;
}

.full-card-top-section-image {
  width: 100%;
  height: 300px;
  /* object-fit: contain; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* background-size: cover; */

}

.full-card-middle-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-card-event-name {
  /* margin-top: -80px; */
  margin-bottom: 20px;
}

.full-card-event-description {
  margin-bottom: 20px;
}

.full-card-bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.full-card-bottom-upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.full-card-register-button {
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.venue-title {
  font-weight: bold;
}

.date-title {
  font-weight: bold;
}